extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
block content
    if prods.length > 0
        .grid
            each product in prods
                article.card.product-item
                    .card__image
                        a(href=`/products/${product.id}`)
                            img(src=`${product.imageUrl}`,alt=`${product.title}`) 
                    header.card__header
                        h1.product__title #{product.title}
                    .card__content
                        p.product__description #{product.description}
                        .product__price-container
                            h2.product__price $#{product.price}
                    .card__actions
                        //- this should use the products unique ID to take you to the single product page
                        a(href=`/products/${product.id}`).btn.a-fix.btn-no-radius Details 
                        form(action="/cart" method="post")
                            button(type="submit").btn Add to Cart
                            input(type="hidden" name="productId" value=`${product.id}`)
    else 
        h1.center No Products